@charset "UTF-8";
:root {
    --bg-color: rgb(26 26 26);
    --fg-color: rgb(255 255 255);
    --hover-color: rgb(70 70 70);
    --outline-color: var(--fg-color);
    --outline-weight: 1px;
    --nav-width: 75%;
    --content-width: 800px;
    --foot-width: var(--navwidth);
    --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", 
    "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body{
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-family: var(--font-sans-serif);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    border-bottom-style: solid;
    border-bottom-width: var(--outline-weight);
    border-bottom-color: var(--fg-color);
}
footer {
    text-align: center;
    padding: 1.5rem;
    margin-top: auto;
}
body h1, h2, h3 {
    font-family: var(--font-sans-serif);
    font-weight: 400;
}
a {
    text-decoration: none;
    color: var(--fg-color);
}
a:hover {
    color: var(--hover-color);
}

.navbar {
    display: flex;
    position: relative;
    width: var(--nav-width);
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-monospace);
}
.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}
.navbar-links {
    height: 100%;
}
.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar-links li {
    list-style: none;
}
.navbar-links li a {
    display: block;
    padding: 1rem;
}
.navbar-links a:hover {
    color: var(--hover-color);
}
.toggle-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.content {
    max-width: var(--content-width);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
}
.text-center {
    text-align: center;
}
.mono {
    font-family: var(--font-monospace);
}
.dropbtn {
    background-color: var(--bg-color);
    color: var(--fg-color);
    padding: 1rem;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bg-color);
    min-width: 160px;
    z-index: 1;
    border-top: 1px solid;
 }
.dropdown-content a {
    color: var(--fg-color);
    padding: 1rem;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    color: var(--hover-color);
}
.show {
    display:block;
}
.date {
    font-family: var(--font-monospace);
    margin: none;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    .dropdown-content {
        min-width: 100vw;
        position: relative;
    }
}